@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #ffffc5;
  font-family: "Inter", serif;
  padding-top: 50px;
}

.custom-input {
  border-top: none;
  border-right: none;
  color: #1d1d1f;
}

.custom-input::placeholder {
  color: #777777;
}

.custom-input:focus {
  outline: none;
}
