@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: #ffffc5;
  font-family: "Inter", serif;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 50px;
}

@media (max-width: 768px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
  }
}

.custom-input {
  border-top: none;
  border-right: none;
  color: #1d1d1f;
}

.custom-input::placeholder {
  color: #777777;
}

.custom-input:focus {
  outline: none;
}
